@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

:root {
  --background: #ffffff !important;
  --foreground: #171717 !important;
}

.dark {
  --background:  rgba(51, 50, 67, 0.8) !important;
  --foreground: #ededed !important;
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}

.yellow-bg{
  background-color: rgba(254, 193, 55, 1);
}

.yellow-text{
  color: rgba(254, 193, 55, 1) !important;
} 

.gray-bg{
  background-color: rgba(51, 50, 67, 0.8) !important;
}

@theme inline {
  --color-background: var(--background) !important;
  --color-foreground: var(--foreground)        !important;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

/* tailwind plugin or global css */
/* .hover-card {
  animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 */
 .hover-card {
  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.parent:hover .hover-card {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.parent {
  position: relative;
}

.hover-card {
  position: absolute;
  top: 100%;
  left: 0;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}


